.body {
  margin: 0;
  background: #000;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}
.stopfade {
   opacity: .5;
}

#polina {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 1rem;
  width: 33%;
  margin:2rem;
  float: left;
  font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) {
  div{width:70%;}
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
.box{
	width: 300px;
    	border: 5px solid grey;
    	padding: 100px 75px;
    	margin: 10px;
	font-family: 'Ubuntu', sans-serif;
}

input[type=text]{
	width: 100%;
    	padding: 8px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;}

input[type=password]{
	width: 100%;
    	padding: 8px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;}
input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 20px;
		cursor:pointer;
	}

.main{
	padding: 100px 200px;
  	background: linear-gradient(white,);
   	color: #f1f1f1;
	}
.button {
    background-color: #4CAF50;
    border: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 0px 2px;
    height:30px;
    weight:40px;
    float:right;
    cursor:pointer;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;

}
.button3 {background-color: #f44336;}
.button2 {   background: rgba(0,0,0,0.5);
		  border-radius: 20px;
		  font-family: 'Ubuntu', sans-serif;
		  weight:40px;
		  display: inline-block;
		  cursor:pointer;
		  color: white;}
 body {
	background-image:url("https://ictinternational.files.wordpress.com/2015/03/philippines-rice-field.jpg");
	background-size:cover;
	background-attachment:fixed;
 }
 h1{
	color: white;
	font-family: 'Ubuntu', sans-serif;
	font-size:50px;
	text-align:center;

 }
  .create{
	font-family: 'Ubuntu', sans-serif;
	font-size:15px;
	color:white;

 }
  .hvr-grow {
	text-align:center;
    padding-left:30px;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
	font-size:50;
	font-family: 'Rammetto One', cursive;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
